## Check database

minikube start

check service 


pip install mysql-connector-python


minikube service mysql

In [3]:
import mysql.connector

### Connection

In [6]:
mydb = mysql.connector.connect(
    host="mysql:3306",
    user="root",
    password="p@ssw0rd1",
    database="inventory"
    )
cursor = mydb.cursor()
cursor.execute("SELECT count(*) FROM users")
response = app.response_class(
        response=json.dumps({"result":"OK - healthy"}),
        status=200,
        mimetype='application/json'
)

DatabaseError: 2005 (HY000): Unknown MySQL server host 'mysql:3306' (22)

### Create Tables

In [7]:
cur = conn.cursor()

NameError: name 'conn' is not defined

In [8]:
commands = (
        """
        CREATE TABLE vendors (
            vendor_id SERIAL PRIMARY KEY,
            vendor_name VARCHAR(255) NOT NULL
        )
        """,
        """ CREATE TABLE parts (
                part_id SERIAL PRIMARY KEY,
                part_name VARCHAR(255) NOT NULL
                )
        """,
        """
        CREATE TABLE part_drawings (
                part_id INTEGER PRIMARY KEY,
                file_extension VARCHAR(5) NOT NULL,
                drawing_data BYTEA NOT NULL,
                FOREIGN KEY (part_id)
                REFERENCES parts (part_id)
                ON UPDATE CASCADE ON DELETE CASCADE
        )
        """,
        """
        CREATE TABLE vendor_parts (
                vendor_id INTEGER NOT NULL,
                part_id INTEGER NOT NULL,
                PRIMARY KEY (vendor_id , part_id),
                FOREIGN KEY (vendor_id)
                    REFERENCES vendors (vendor_id)
                    ON UPDATE CASCADE ON DELETE CASCADE,
                FOREIGN KEY (part_id)
                    REFERENCES parts (part_id)
                    ON UPDATE CASCADE ON DELETE CASCADE
        )
        """)

In [ ]:
for command in commands:
    cur.execute(command)

In [ ]:
cur.close()

In [ ]:
conn.commit()

### Insert data

In [ ]:
sql = """INSERT INTO vendors(vendor_name)
             VALUES(%s) RETURNING vendor_id;"""

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute(sql, ("peter new",))

In [ ]:
conn.commit()

In [ ]:
cur.close()

### Update data

In [ ]:
sql = """ UPDATE vendors
            SET vendor_name = %s
            WHERE vendor_id = %s"""

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute(sql, ("peter2", "1"))

In [ ]:
updated_rows = cur.rowcount

In [ ]:
updated_rows

In [ ]:
conn.commit()

In [ ]:
cur.close()

### Select data

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute("SELECT vendor_id, vendor_name FROM vendors ORDER BY vendor_name")

In [ ]:
print("The number of parts: ", cur.rowcount)

In [ ]:
row = cur.fetchone()

while row is not None:
    print(row)
    row = cur.fetchone()
cur.close()

### Count data

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute("SELECT count(*) FROM vendors")

In [ ]:
row = cur.fetchone()

In [ ]:
print (row)

In [ ]:
cur.close()

In [ ]:
type (row)

In [ ]:
row[0]